﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="EmailWebService.Site" %>
<!DOCTYPE html>
<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <title><%: Page.Title %></title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />  
    <link rel="stylesheet" type="text/css" href="/site.css" />
</head>
<body>
    <form runat="server">
    <div id="body">
        <section class="content-wrapper main-content clear-fix">
            <asp:ContentPlaceHolder runat="server" ID="MainContent" />
        </section>
    </div>
    </form>
</body>
</html>
