﻿html {
	background-color: #e2e2e2;
	margin: 0;
	padding: 0;
}

body {
	background-color: #fff;
	border-top: solid 10px #000;
	color: #333;
	font-size: .85em;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

a {
	color: #333;
	outline: none;
	padding-left: 3px;
	padding-right: 3px;
	text-decoration: underline;
	border: none;
}

	a:link, a:visited,
	a:active, a:hover {
		color: #333;
	}

	a:hover {
		background-color: #c7d1d6;
	}

header, footer, hgroup,
nav, section {
	display: block;
}

mark {
	background-color: #a6dbed;
	padding-left: 5px;
	padding-right: 5px;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clear-fix:after {
	content: ".";
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
	color: #333;
	margin-bottom: 0;
	padding-bottom: 0;  
}

h1 {
	font-size: 2.6em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.5em;
	border-bottom: 1px solid #999;
	padding-bottom:10px;
	
}

h4 {
	font-size: 1.1em;
	border-bottom: 1px solid #999;
	padding-top:0;
	margin-top:0;
}

h5, h6 {
	font-size: 1em;
}

	h5 a:link, h5 a:visited, h5 a:active {
		padding: 0;
		text-decoration: none;
	}

/* main layout
----------------------------------------------------------*/
.content-wrapper {
	margin: 0 auto;
	max-width: 960px;
}

#body {
	background-color: #efeeef;
	clear: both;
	padding-bottom: 35px;
}

.main-content {
	background: url("../Images/accent.png") no-repeat;
	padding-left: 10px;
	padding-top: 30px;
}

.featured + .main-content {
	background: url("../Images/heroAccent.png") no-repeat;
}

header .content-wrapper {
	padding-top: 20px;
}

footer {
	clear: both;
	background-color: #e2e2e2;
	font-size: .8em;
	height: 100px;
}


/* site title
----------------------------------------------------------*/
.site-title {
	color: #c8c8c8;
	font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
	font-size: 2.3em;
	margin: 0;
}

	.site-title a, .site-title a:hover, .site-title a:active {
		border: none;
		background: none;
		outline: none;
		text-decoration: none;
	}


/* login
----------------------------------------------------------*/
#login {
	display: block;
	font-size: .85em;
	margin: 0 0 10px;
	text-align: right;
}

	#login a {
		background-color: #d3dce0;
		margin-left: 10px;
		margin-right: 3px;
		padding: 2px 3px;
		text-decoration: none;
	}

		#login a.username {
			background: none;
			margin-left: 0px;
			text-decoration: underline;
		}

	#login ul {
		margin: 0;
	}

	#login li {
		display: inline;
		list-style: none;
	}


/* menu
----------------------------------------------------------*/
ul#menu {
	font-size: 1.3em;
	font-weight: 600;
	margin: 0 0 5px;
	padding: 0;
	text-align: right;
}

	ul#menu li {
		display: inline;
		list-style: none;
		padding-left: 15px;
	}

		ul#menu li a {
			background: none;
			color: #999;
			text-decoration: none;
		}

			ul#menu li a:hover {
				color: #333;
				text-decoration: none;
			}


/* page elements
----------------------------------------------------------*/
/* featured */
.featured {
	background-color: #fff;
}

	.featured .content-wrapper {
		background-color: #7ac0da;
		background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
		background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
		background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
		background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
		background-image: linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
		color: #3e5667;
		padding: 20px 40px 30px 40px;
	}

	.featured hgroup.title h1, .featured hgroup.title h2 {
		color: #fff;
	}

	.featured p {
		font-size: 1.1em;
	}

/* page titles */
hgroup.title {
	margin-bottom: 10px;
}

	hgroup.title h1, hgroup.title h2 {
		display: inline;
	}

	hgroup.title h2 {
		font-weight: normal;
		margin-left: 3px;
	}

/* features */
section.feature {
	width: 300px;
	float: left;
	padding: 10px;
}

/* ordered list */
ol.round {
	list-style-type: none;
	padding-left: 0;
}

	ol.round li {
		margin: 25px 0;
		padding-left: 45px;
	}

		ol.round li.zero {
			background: url("../Images/orderedList0.png") no-repeat;
		}

		ol.round li.one {
			background: url("../Images/orderedList1.png") no-repeat;
		}

		ol.round li.two {
			background: url("../Images/orderedList2.png") no-repeat;
		}

		ol.round li.three {
			background: url("../Images/orderedList3.png") no-repeat;
		}

		ol.round li.four {
			background: url("../Images/orderedList4.png") no-repeat;
		}

		ol.round li.five {
			background: url("../Images/orderedList5.png") no-repeat;
		}

		ol.round li.six {
			background: url("../Images/orderedList6.png") no-repeat;
		}

		ol.round li.seven {
			background: url("../Images/orderedList7.png") no-repeat;
		}

		ol.round li.eight {
			background: url("../Images/orderedList8.png") no-repeat;
		}

		ol.round li.nine {
			background: url("../Images/orderedList9.png") no-repeat;
		}

/* content */
article {
	float: left;
	width: 70%;
}

aside {
	float: right;
	width: 25%;
}

	aside ul {
		list-style: none;
		padding: 0;
	}

		aside ul li {
			background: url("../Images/bullet.png") no-repeat 0 50%;
			padding: 2px 0 2px 20px;
		}

.label {
	font-weight: 700;	
}

/* login page */
#loginForm {
	border-right: solid 2px #c8c8c8;
	float: left;
	width: 55%;
}

	#loginForm .validation-error {
		display: block;
		margin-left: 15px;
	}

#socialLoginForm {
	margin-left: 40px;
	float: left;
	width: 40%;
}

	#socialLoginForm h2 {
		margin-bottom: 5px;
	}

fieldset.open-auth-providers {
	margin-top: 15px;
}

	fieldset.open-auth-providers button {
		margin-bottom: 12px;
	}

/* contact */
.contact h3 {
	font-size: 1.2em;
}

.contact p {
	margin: 5px 0 0 10px;
}

.contact iframe {
	border: 1px solid #333;
	margin: 5px 0 0 10px;
}

/* forms */
fieldset {	
	border-top: 1px solid;
	border-bottom:none;
	border-left:none;
	border-right:none;
	margin: 0;
	padding: 0;
}

	fieldset legend {		
		font-size: 1.5em;
		font-weight:bold;		
		padding:0 10px 0 10px;				
	}

	fieldset ol {
		padding: 0;
		list-style: none;
	}

		fieldset ol li {
			padding-bottom: 5px;
		}

label {
    display: inline;
    padding-left: 10px;
    text-indent: -15px;
		font-size: 12px;		
		position: relative;
    bottom: 3px;
}

	label.checkbox {
		display: inline;		
	}

input, textarea, select {
	border: 1px solid #999;
	background: #fff;
	color: #333;
	font-size: 12px;
	margin: 5px 0 6px 0;
	padding: 3px;
}
input[type=checkbox][disabled] {
  display:none;
}
	input[type=checkbox][disabled]:checked {		
		display:	block;			
	}

textarea {
	font-family: inherit;
	width: 500px;
}

	input:focus, textarea:focus {
		border: 1px solid #7ac0da;
	}

/*input[type="checkbox"] {
	background: transparent;
	border: inherit;
	width: auto;		
}*/

.checkbox {
	width: 49px;
	height: 41px;
	padding: 0 5px 0 0;
	background: url(/images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}

input[type="submit"],
input[type="button"],
button {
	-moz-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	box-shadow: inset 0px 1px 0px 0px #c1ed9c;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #698820) );
	background: -moz-linear-gradient( center top, #9dce2c 5%, #698820 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#698820');
	background-color: #9dce2c;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #83c41a;
	display: inline-block;
	color: #ffffff;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #689324;
  
}

	input[type="submit"]:hover,
	input[type="button"]:hover,
	button:hover {
		background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #698820), color-stop(1, #9dce2c) );
		background: -moz-linear-gradient( center top, #698820 5%, #9dce2c 100% );
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#698820', endColorstr='#9dce2c');
		background-color: #698820;
		cursor:pointer;
	}

	input[type="submit"]:active,
	input[type="button"]:active,
	button:active {
		position: relative;
		top: 1px;
	}

	input[type="submit"]:disabled,
	input[type="button"]:disabled,
	button:disabled {
	-moz-box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	-webkit-box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	box-shadow: inset 0px 1px 0px 0px #e9e9e9;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #B9B5B9) );
	background: -moz-linear-gradient( center top, #e9e9e9 5%, #B9B5B9 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#B9B5B9');
	background-color: #e9e9e9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #e9e9e9;
	display: inline-block;
	color: #999;
	font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: normal;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #B9B5B9;
		
	}

	input[type="submit"].main,
	input[type="button"].main,
	button.main {
		font-size: 20px;
		font-weight: bold;
		padding: 6px 24px 12px 24px;
		
		
	}

		input[type="submit"].main:hover,
		input[type="button"].main:hover,
		button.main:hover {
			background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #698820), color-stop(1, #9dce2c) );
			background: -moz-linear-gradient( center top, #698820 5%, #9dce2c 100% );
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#698820', endColorstr='#9dce2c');
			background-color: #698820;
			cursor:pointer;
		}

		input[type="submit"].main:active,
		input[type="button"].main:active,
		button.main:active {
			position: relative;
			top: 1px;
		}


/*td input[type="submit"],
td input[type="button"],
td button {
	font-size: 1em;
	padding: 4px;
	margin-right: 4px;
}*/

/* info and errors */
.message-info {
	border: 1px solid;
	clear: both;
	padding: 10px 20px;
}

.message-error {
	clear: both;
	color: #e80c4d;
	font-size: 1.1em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.message-success {
	color: #7ac0da;
	font-size: 1.3em;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

.error {
	color: #e80c4d;
}

div.fieldLabel {	
	
}


/* styles for validation helpers */
.field-validation-error {
	color: #e80c4d;
	font-weight: bold;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #e80c4d;
	font-weight: bold;
	font-size: 1.1em;
}

.validation-summary-valid {
	display: none;
}

/* tables
----------------------------------------------------------*/
table {
	border-collapse: collapse;
	border-spacing: 0;
	margin-top: 0.75em;
	border: 0 none;
}

th {
	font-size: 1.2em;
	text-align: left;
	border: none 0px;
	padding-left: 0;
}

	th a {
		display: block;
		position: relative;
	}

		th a:link, th a:visited, th a:active, th a:hover {
			color: #333;
			font-weight: 600;
			text-decoration: none;
			padding: 0;
		}

		th a:hover {
			color: #000;
		}

	th.asc a, th.desc a {
		margin-right: .75em;
	}

		th.asc a:after, th.desc a:after {
			display: block;
			position: absolute;
			right: 0em;
			top: 0;
			font-size: 0.75em;
		}

		th.asc a:after {
			content: '▲';
		}

		th.desc a:after {
			content: '▼';
		}

td {
	padding: 0.25em 2em 0.25em 0em;
	border: 0 none;
}

tr.pager td {
	padding: 0 0.25em 0 0;
}

table.fieldset td {
	padding: 6px;
}

#xfieldLabel {
		text-align:right;
		color: #495F16;
		font-size:12px;
		padding-top:10px;
	}

table.fieldset td {
	padding: 6px;
	vertical-align: top;
}
	table.fieldset td.fieldLabel {
		text-align:right;
		color: #495F16;
		font-size:12px;
		padding-top:10px;
	}
.splitTable {
	width: 100%;
	border-collapse: separate;
	border-spacing: 15px;
}

table.tight {
	border-collapse: separate;
	border-spacing: 3px;
	margin-top: 0.75em;
	border: 0 none;
}
table.tight th {	
	font-size:0.8em;
	text-align: left;
	border: none 0px;	
	vertical-align:top;
	background-color:#b5d1dc ;
	padding: 9px;
	
}
	table.tight td {
		padding:2px;
		vertical-align:top;
	}

.split {
width: 50%;
background-color: #E6E3E6;
padding: 30px;
vertical-align:top;	
}

div.Edit {
	background-color: #FCFBE4;
}

div.Note {
	color: green;
	padding-bottom:8px;
}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

	/* header
    ----------------------------------------------------------*/
	header .float-left,
	header .float-right {
		float: none;
	}

	/* logo */
	header .site-title {
		margin: 10px;
		text-align: center;
	}

	/* login */
	#login {
		font-size: .85em;
		margin: 0 0 12px;
		text-align: center;
	}

		#login ul {
			margin: 5px 0;
			padding: 0;
		}

		#login li {
			display: inline;
			list-style: none;
			margin: 0;
			padding: 0;
		}

		#login a {
			background: none;
			color: #999;
			font-weight: 600;
			margin: 2px;
			padding: 0;
		}

			#login a:hover {
				color: #333;
			}

	/* menu */
	nav {
		margin-bottom: 5px;
	}

	ul#menu {
		margin: 0;
		padding: 0;
		text-align: center;
	}

		ul#menu li {
			margin: 0;
			padding: 0;
		}


	/* main layout
    ----------------------------------------------------------*/
	.main-content,
	.featured + .main-content {
		background-position: 10px 0;
	}

	.content-wrapper {
		padding-right: 10px;
		padding-left: 10px;
	}

	.featured .content-wrapper {
		padding: 10px;
	}

	/* page content */
	article, aside {
		float: none;
		width: 100%;
	}

	/* ordered list */
	ol.round {
		list-style-type: none;
		padding-left: 0;
	}

		ol.round li {
			padding-left: 10px;
			margin: 25px 0;
		}

			ol.round li.zero,
			ol.round li.one,
			ol.round li.two,
			ol.round li.three,
			ol.round li.four,
			ol.round li.five,
			ol.round li.six,
			ol.round li.seven,
			ol.round li.eight,
			ol.round li.nine {
				background: none;
			}

	/* features */
	section.feature {
		float: none;
		padding: 10px;
		width: auto;
	}

		section.feature img {
			color: #999;
			content: attr(alt);
			font-size: 1.5em;
			font-weight: 600;
		}

	/* forms */
	input {
		width: 90%;
	}



	/* login page */
	#loginForm {
		border-right: none;
		float: none;
		width: auto;
	}

		#loginForm .validation-error {
			display: block;
			margin-left: 15px;
		}

	#socialLoginForm {
		margin-left: 0;
		float: none;
		width: auto;
	}

	/* footer
    ----------------------------------------------------------*/
	footer .float-left,
	footer .float-right {
		float: none;
	}

	footer {
		text-align: center;
		height: auto;
		padding: 10px 0;
	}

		footer p {
			margin: 0;
		}
}
/* END: Mobile Styles */


.rdHeader {
	font-weight:bold;
	background-color:red;
}

.RadUpload span.ruFileWrap {
      height:34px;
}
.RadUpload input[type="button"].ruButton {
  height:26px;
  width:auto;
  background-position: 0px;
}
.RadUpload input[type="button"].ruRemove {
  margin-left:4px;
  height: 24px;
}
.RadUpload span.ruUploadSuccess {
  height: 24px;
  padding: 7px 0 0 14px;
}